extends layout.pug

block append meta
  title Home Page
  meta(name="description" content="Home page")
  meta(name="keywords" content="home")
  link(rel="stylesheet", href="/styles/home.css")
  script(src='/scripts/home.js', defer)

block main
  main
    h1 Home Page
    h2(class="gallery") Meet Joana... 
    div
      img(src="/assets/images/joana.jpeg", alt="")
      img(src="http://redcarpeteveryday.files.wordpress.com/2015/03/527047_208630805965858_790195748_n.jpg", alt="")
      img(src="http://www.tradingradar.net/assets/images/stocks/AMP-min.png", alt="")
